<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">BHbh5Fqm</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@big-data-3.logti.etsmtl.ca:1521:LOG660</property>
        <property name="hibernate.connection.username">equipe25</property>
        <property name="hibernate.default_schema">EQUIPE25</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="Movie.hbm.xml" />
        <mapping resource="Subscriptiontype.hbm.xml" />
        <mapping resource="Moviecopy.hbm.xml" />
        <mapping resource="Systemuser.hbm.xml" />
        <mapping resource="Crewmember.hbm.xml" />
        <mapping resource="Synopsis.hbm.xml" />
        <mapping resource="Province.hbm.xml" />
        <mapping resource="Scriptwriter.hbm.xml" />
        <mapping resource="Employee.hbm.xml" />
        <mapping resource="Biography.hbm.xml" />
        <mapping resource="Country.hbm.xml" />
        <mapping resource="Genre.hbm.xml" />
        <mapping resource="Client.hbm.xml" />
        <mapping resource="Creditcard.hbm.xml" />
        <mapping resource="Subscription.hbm.xml" />
        <mapping resource="Movieactor.hbm.xml" />
    </session-factory>
</hibernate-configuration>
